<center><form>
	Username<br>
	<input type="text" ng-model="user.username" name="username"><br>
	Password<br>
	<input type="password" ng-model="user.password" name="password"><br>
	<p>Utente: {{ user }}</p>
</form></center>