
<div class="jumbotron text-center">
	<h1><span class="glyphicon glyphicon-edit"></span> Easy Rash</h1>
    <p>{{ message }}</p>
</div>

<div class="container-fluid" style="width : 60%">
    <form class="form-horizontal" id="myForm">
	    <fieldset>
		    <!-- Text input-->
		    <div class="form-group">
				<label class="col-md-4 control-label" for="username">Email</label>  
				<div class="col-md-4">
				<input ng-model="email" id="email" name="email" type="email" class="form-control input-md" required="">
				<span class="help-block">Your email</span>  
				</div>
		    </div>

		    <!-- Password input-->
		    <div class="form-group">
				<label class="col-md-4 control-label" for="password">Password</label>
				<div class="col-md-4">
					<input ng-model="password" id="password" name="password" type="password" class="form-control input-md" required="">
					<span class="help-block">Your password</span>
				</div>
		    </div>

		    <!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="button"></label>
				<div class="col-md-4">
					<button id="button" name="button" class="btn btn-primary" style="float:right" ng-click="authenticate()">Login</button>
				</div>
			</div>
	    </fieldset>
    </form>
</div>

