/*
rash.css - Version 0.4, February 16, 2016
by Silvio Peroni

This work is licensed under a Creative Commons Attribution 4.0 International License (http://creativecommons.org/licenses/by/4.0/).
You are free to:
* Share - copy and redistribute the material in any medium or format
* Adapt - remix, transform, and build upon the material
for any purpose, even commercially.

The licensor cannot revoke these freedoms as long as you follow the license terms.

Under the following terms:
* Attribution - You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
*/

@namespace mathml url(http://www.w3.org/1998/Math/MathML);

/* Font */
body { font-size: 12pt; }
/* /END Font */

/* Figure, table and formula */
img {
    max-width:90%;
    height:auto;
}

table {
    max-width:100%;
}

figure {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align:center;
}

figure > p:not(mathml|math) {
    margin-bottom:0px;
}

figure img:not([role=math]), figure svg {
    border: 1px solid black;
}

figure > pre {
    text-align:left;
}

figcaption {
    margin-top:5px;
    font-size: 12px;
}

table {
    margin: 0 auto;
    padding: 0;
}

td , th {
    border:1px solid black;
    padding:5px;
}

td p {
    margin-bottom:0px;
}

th {
    background-color: #606060;
    color: white;
    text-align:center;
}
/* /END Figure, table and formula */


/* Header */
.title {
    font-size: 300%;
}
/* /END Header */

/* Footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;
}

.footer span , .footer div {
    margin-left: 30px;
}

#layoutselection {
    margin-left: 0px;
    margin-right: 5px;
}

.footer div {
    margin-top:-5px;
}

.footer p {
    display: inline;
}
/* /END Footer */

/* Not cited */
.notcited {
    color: lightgrey;
    font-style:italic;
    cursor:help;
}
/* /END Not cited */

/* Error */
.error {
    color: red;
    font-weight:bold;
}
.error:before {
    content: "[[";
}
.error:after {
    content: "]]";
}
