/*
rash.css - Version 0.4, February 16, 2016
by Silvio Peroni

This work is licensed under a Creative Commons Attribution 4.0 International License (http://creativecommons.org/licenses/by/4.0/).
You are free to:
* Share - copy and redistribute the material in any medium or format
* Adapt - remix, transform, and build upon the material
for any purpose, even commercially.

The licensor cannot revoke these freedoms as long as you follow the license terms.

Under the following terms:
* Attribution - You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
*/

@namespace mathml url(http://www.w3.org/1998/Math/MathML);

/* Font */
body { font-size: 12pt; }
/* /END Font */

/* Footnote counters */
body { counter-reset: fn_pointer; }
section[role=doc-footnotes] { counter-reset: fn; }
section[role=doc-footnotes] > section[role=doc-footnote]:before {
    counter-increment: fn;
    content: counter(fn);
    float: left;
    padding-right: 10px;
}
/* /END Footnote counters */

/* Figure, table and formula */
img {
    max-width:90%;
    height:auto;
}

table {
    max-width:90%;
}

figure {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align:center;
}

figure > p:not(mathml|math) {
    margin-bottom:0px;
}

figure img:not([role=math]), figure svg {
    border: 1px solid black;
}

figure > pre {
    text-align:left;
}

figcaption {
    margin-top:5px;
}

table {
    margin: 0 auto;
}

td , th {
    border:1px solid black;
    padding:5px;
}

td p {
    margin-bottom:0px;
}

th {
    background-color: #606060;
    color: white;
    text-align:center;
}
/* /END Figure, table and formula */

/* Heading counters */
body { counter-reset: h1; }
h1 { counter-reset: h2; }
h2 { counter-reset: h3; }
h3 { counter-reset: h4; }
h4 { counter-reset: h5; }
h5 { counter-reset: h6; }

section:not([role=doc-abstract]):not([role=doc-bibliography]):not([role=doc-acknowledgements]):not([role=doc-footnotes]) h1:before {
    counter-increment: h1;
    content: counter(h1) ". ";
}

section:not([role=doc-abstract]):not([role=doc-bibliography]):not([role=doc-acknowledgements]):not([role=doc-footnotes]) h2:before{
    counter-increment: h2;
    content: counter(h1) "." counter(h2) ". ";
}

section:not([role=doc-abstract]):not([role=doc-bibliography]):not([role=doc-acknowledgements]):not([role=doc-footnotes]) h3:before{
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) ". ";
}

section:not([role=doc-abstract]):not([role=doc-bibliography]):not([role=doc-acknowledgements]):not([role=doc-footnotes]) h4:before{
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". ";
}

section:not([role=doc-abstract]):not([role=doc-bibliography]):not([role=doc-acknowledgements]):not([role=doc-footnotes]) h5:before{
    counter-increment: h5;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}

section:not([role=doc-abstract]):not([role=doc-bibliography]):not([role=doc-acknowledgements]):not([role=doc-footnotes]) h6:before{
    counter-increment: h6;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}
/* /END Heading counters */

/* Header */
.title {
    font-size: 300%;
}
/* /END Header */

/* Footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;
}

.footer span , .footer div {
    margin-left: 30px;
}

#layoutselection {
    margin-left: 0px;
    margin-right: 5px;
}

.footer div {
    margin-top:-5px;
}

.footer p {
    display: inline;
}
/* /END Footer */

/* Not cited */
.notcited {
    color: lightgrey;
    font-style:italic;
    cursor:help;
}
/* /END Not cited */

/* Error */
.error {
    color: red;
    font-weight:bold;
}
.error:before {
    content: "[[";
}
.error:after {
    content: "]]";
}
/* /END Error */

/* ### Rules for printing the document */
@media print {
    @page {
        size: A4;
        margin: 20mm 0mm 20mm 0mm;
    }

    html, body {
        width: 210mm;
        height: 297mm;
    }

    p {
        font-size: 10pt;
        text-align:justify;
    }

    pre {
        text-align:left;
    }

    figcaption , figure > p {
        text-align:center;
    }

    .title {
        font-size: 16pt !important;
    }

    h1 {
        font-size: 14pt !important;
    }

    h2 {
        font-size: 12pt !important;
    }

    h3 {
        font-size: 11pt !important;
    }

    h4, h5, h6 {
        font-size: 10pt !important;
    }

    pre {
        font-size: 8pt !important;
    }

    blockquote {
        font-size: 10pt !important;
    }

    address {
        font-size: 12pt !important;
    }

    table {
        max-width:100%;
        font-size: 80%;
    }
}
/*
@-epubx-page-template{

    table {
        color: : green!important;
        max-width:100%;
        font-size: 80%;
    }
}
*/
