div.annotator-filter{
    margin-top: 54px; 
    z-index: 1;  
}

.jumbotron {
    background-color: #3B5998;
}

.jumbotron p {
    color: #eee;
}

.jumbotron h1 {
    color: #eee;
    text-shadow: 2px 2px #000;
}

div#mainBody{
	margin-top: 60px;
}

.highlightAns{
  background: orange !important;
}

.btn{
	white-space:normal !important;
    max-width:200px;
}
div#ratingBar {
	margin: 20px;
	padding: 5px;
}
table#reviewsSummary{
    margin-top: 20px;
    margin-bottom: 20px;
}

p.list-articleTitle{
	margin-bottom: 10px;
}
p#annotation-text{
    padding: 5px;
}
.list-group-item.btn.btn-default {
    z-index: 1;
}

.label-affiliation{
    display: block;
    text-align: left;
    width: 100%;
    white-space: normal;
    margin-bottom: 4px;
}
.keywords{
    margin: 2px; 
}

/* Media queries */
@media (max-width: 980px) {
    .modal-dialog {
        width: 80%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    div.annotator-filter{
        margin-top: 50px; 
        z-index: 1;  
    }
}
@media (min-width: 1200px){
    
    .modal-dialog {
        width: 80%;
    }
    .container {
        width: auto;
    }
}