<h2>Annotations</h2>
<div class="form-group">
	<label for="contain">Search Author</label>
	<input class="form-control" type="text"  ng-model="search.author.name"/>
</div>
<div class="list-group">
	<div class="panel-group" id="accordition1">
	    <div class="panel panel-default" ng-repeat="annotation in articleView.annotations | filter: search">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <div class="row">
	                    <div class="col-md-8"><a href="javascript:;" data-parent="#accordition1" data-toggle="collapse" data-target="#annotationcollapse-{{$index}}" >{{ annotation.author.name }}</a></div>
	                    <div class="col-md-4 text-right small"><span am-time-ago="annotation.date"></span></div>
	                    
	                </div>
	            </h4>
	        </div>
	        <div id="annotationcollapse-{{$index}}" class="panel-collapse collapse">
	                <div class="btn-group-vertical">
	                    <p class="text-justify" id="annotation-text">{{annotation.text}}</p>
	                </div>
	        </div>
	    </div>
	</div>
</div>