<label>Your Judgement:</label>
<div class='br-wrapper br-theme-bars-square'>
	<select id="rateselect">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
    </select>
</div>
