<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home">EasyRash</a>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="articleView"><a><img ng-src="{{articleView.role == 'pc_member' && 'img/noannotator_icon.png' || 'img/annotator_icon.png'}}"/> You're now: <strong>{{ articleView.role }}</strong></a></li>
                <li ng-show="articleView" ng-switch on="annotator.flag" ng-class="{true: 'list-group-item-info', false: 'list-group-item-success'}[!annotator.flag]" ng-click="showAnnotations()">
                    <a href="" ng-switch-when="true"><strong>Hide Annotations</strong></a>
                    <a href="" ng-switch-when="false"><strong>Show Annotations</strong></a>
                </li>
                <li ng-hide="articleView.role == 'pc_member' || !articleView || !articleView.isReadyForDecision" ><a href="" ng-click="reviewModal()"><strong>Review</strong></a></li>
                <li ng-show="articleView" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" >Download as <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a target="_self" href="" ng-click="convertAsEpub()""><strong>RASH to ePub</strong></a></li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a>{{ username }}</a></li>
                <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="mainBody">
    <div class="row">
        <div class="col-md-4">
            <h2>Events</h2>
            <div class="panel-group" id="accordition">
                <div class="panel panel-default" ng-repeat="event in events">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div class="row">
                                <div class="col-md-10"><a href="" data-parent="#accordition" data-toggle="collapse" data-target="#collapse-{{$index}}">{{ event.conference }}</a></div>
                                <div class="col-md-2 text-right"><span class="badge">{{ event.submissions.length }}</span></div>

                            </div>
                        </h4>
                    </div>
                    <div id="collapse-{{$index}}" class="panel-collapse collapse">
                        <ul class="list-group">
                            <div class="btn-group-vertical">
                                <button class="list-group-item btn btn-default" ng-repeat="article in event.submissions" ng-click="getArticle(article.title, article.url)"><p class="list-articleTitle">{{ article.title }}</p>
                                </button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

            <div annotations-list ng-show="articleView.annotations"></div>
        </div>
        <div class="col-md-8">

            <!-- Visualizzatore di MetaTag di un articolo -->
            <div article-meta ng-show="articleView">
            </div>
            <!-- Visualizza il body di un documento Rash -->
            <div id="content_parent">
                <div annotation-view id="content"></div>
            </div>
            <!-- Messaggio di benvenuto iniziale -->
            <div ng-hide="articleView"><h2>{{ welcomeMessage }}</h2><h3>Click on an event to begin.</h3></div>
        </div>
    </div>
</div>


<!-- Reviewer Modal Panel -->
<script type="text/ng-template" id="reviewPanel.html">
    <div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="close(false)" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" ng-bind=" decisionLabel = userRole == 'chair' ? 'Decision: ' : 'Review: '">{{ decisionLabel }}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="radio">
						  	<label><input type="radio" name="optradio" ng-model="accepted" ng-value="true">Accept</label>
						  	<label><input type="radio" name="optradio" ng-model="accepted" ng-value="false">Reject</label>
						</div>
					  	<label for="comment">Comment:</label>
					  	<textarea class="form-control" rows="5" id="comment" ng-model="comment"></textarea>

					  	<div ng-show="userRole =='reviewer'" rating-bar id="ratingBar"></div>
                        <div reviews-summary ng-show="userRole == 'chair'"></div>
                        <h4 ng-show="userRole == 'chair'">Judgements average: <strong>{{avgArticle}}</strong></h4>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">< Back</button>
					<button type="button" ng-click="close(true, accepted, comment, rating)" class="btn btn-primary" data-dismiss="modal">Send ></button>
				</div>
			</div>
		</div>
   </div>
</script>
