<table id="reviewsSummary" class="table-striped">
    <thead>
        <tr>
            <th>Reviewer</th>
            <th>Decision</th>
            <th>Judgement</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="reviewer in reviewsSummary">
            <td>{{ reviewer.email }}</td>
            <td>
                <span class="label" ng-class="{ 'pso:accepted_for_publication': 'label-success', 'pso:rejected_for_publication' : 'label-danger', 'pso:under_review' : 'label-primary'}[reviewer.decision]">
                    <span class="glyphicon" ng-class="{ 'pso:accepted_for_publication': 'glyphicon-ok', 'pso:rejected_for_publication' : 'glyphicon-remove', 'pso:under_review' : 'label-primary'}[reviewer.decision]"></span>
                    {{ reviewer.decision }}
                </span>
            </td>
            <td>{{ reviewer.judgement }}</td>
            <td>{{ reviewer.comment }}</td>
        </tr>
    </tbody>
</table>