
<head class="page-header">
	<h2 class="title">{{articleView.title}}<br/><small>{{articleView.subtitle}}</small></h2>

	<!-- authors -->
	<div ng-repeat="author in articleView.meta.authors">
		<address class="lead authors">
			<strong class="author_name">{{ author.name }}</strong>
			<code class="email"><a ng-href="mailto:{{author.email}}">{{ author.email }}</a></code>
			<br/>
			<span ng-repeat="affiliation in author.affiliations" class="affiliation">{{ affiliation }}</span>
		</address>
	</div>

	<!-- acm subjects -->
	<p ng-show="articleView.meta.categories" class="acm_subject_categories">
		<strong>ACM Subject Categories</strong>
		<br/>
		<div ng-repeat="category in articleView.meta.categories">
			<code>{{ category }}</code>
		</div>
	</p>

	<!-- keywords -->
	<p ng-show="articleView.meta.keywords">
		<strong>Keywords</strong>
		<ul class="list-inline">
			<li ng-repeat="keyword in articleView.meta.keywords"><code>{{ keyword }}</code></li>
		</ul>
	</p>

	<h4>
		<span class="label" ng-class="{ 'accepted_for_publication': 'label-success', 'rejected_for_publication' : 'label-danger', 'under_review' : 'label-primary', 'awaiting_decision' : 'label-warning'}[articleView.state]">
	    	<span class="glyphicon" ng-class="{ 'accepted_for_publication': 'glyphicon-ok', 'rejected_for_publication' : 'glyphicon-remove', 'under_review' : 'glyphicon-pencil', 'awaiting_decision' : 'glyphicon-time' }[articleView.state]"></span>
	    	{{articleView.state}}
		</span>
	</h4>

</head>
